.parallax-contenedor {
    position: relative; /*Esto es necesario para posicionar hijos en Absolute
    */
    height: 80vh;
    overflow: hidden; /* Ocultar parte de el fondo que no entre */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    text-align: center;

}

.parallax-bg {
    position: absolute;
    top: -20%; /* Empezar un poco mas arriba para tener margen de movimineto */
    left: 0;
    width: 100%;
    height: 140%;
    background-image: url('../img/PQ3O2P.png');
    background-size: cover;
    background-position: center center;
    /*z-index: -1; /* Asegurarnos que quede por detrás de nuestro elemento*/
}
/* Estilos para el elemento flotante que acompaña a parallax*/
.parallax-elemento-flotante{
    position: absolute;
    bottom: 10%;
    width: 100px;
    right: 100%;
    z-index: 2;
}

.parallax-contenido{
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: rgba(0,0,0,0.3);
    border-radius: white;
    color: white;

}

.seccion.normal {
    min-height: 20vh; /* Para poder hacer scroll*/
    padding: 40px;
    text-align: center;
    background-color: #f0f0f0;

}

@media (prefers-reduced-motion: reduce){
    .parallax-bg, .parallax-elemento-flotante{
        /* Desactivar transitions, animaciones y efectos */
        transition: none;
    }



}