* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #fff;
    --bg-secondary: #f0f0f0;
    --txt-primary: #000;
    --txt-secondary: #222;

    --box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

/*------------------------------------*/
/*            Modo oscuro             */
/*------------------------------------*/
.u-Dark {
    --bg-primary: #000;
    --bg-secondary: #222;
    --txt-primary: #fff;
    --txt-secondary: #ddd;

    --box-shadow: 1px 1px 5px rgba(255,255,255, 0.5);
}

.layout__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    height: 100%;
}

.layout__header {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #080808;
    padding: 10px;
    color: white;
}

.layout__main {
    grid-column: 1 / 3;
    padding: 20px;
}

.sidebar {
    grid-column: 3 / 4;
    background-color: #0c0c0c;
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    
}

.layout__footer {
    grid-column: 2 / 4;
    background-color: #080808;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.hero {
    text-align: center;
    padding: 20px;
}

.hero__image {
    max-width: 50%;
    filter: drop-shadow(0 -6mm 4mm rgb(21, 0, 210));
}

.container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container__clickable {
    padding: 20px;
    background-color: #007bff;
    color: white;
    transition: 1s;
}

.container__clickable:hover {
    transform: rotate(10deg) scale(1.1);
    background-color: #0056b3;
    border-radius: 10px;
}

.gallery {
    padding: 20px;
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery__image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery__image:hover {
    transform: scale(1.05);
}

.gallery__image--double {
    grid-column: span 2;
}

.container__clickable--activated {
    background-color: green;
}

.accordion__content {
    display: none;
    padding: 10px;
    background-color: #f0f0f0;
}

.accordion__content--active {
    display: block;
}